* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.sidebar {
	--width: 260px;
	--width-collapse: 65px;

	width: var(--width);
	height: 100vh;
	display: flex;
	flex-direction: column;
	.top-aside {
		display: flex;
		width: 100%;
		height: 56px;
		padding: 10px;
		.logo {
			img {
				max-width: 90%;
				filter: invert(0.8);
			}
		}
		#toggle-collapse {
			width: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
	&.collapse:not(:hover) {
		width: var(--width-collapse);
		.top-aside {
			.logo {
				display: none;
			}
			#toggle-collapse {
				transform: rotate(180deg);
                img {

                    fill: red;
                }
			}
		}
		.tree-menu {
			width: var(--width-collapse);
			& > .tree-label {
				font-size: 0;
				padding: 10px 10px;
				&::after {
					display: block;
					text-indent: 0;
					font-family: 'Material Icons';
					content: '\e5d3';
					font-size: 24px;
					line-height: 1;
				}
			}
			& > .tree-item {
				font-size: 0;
			}
			& > .tree-group {
				font-size: 0;
				.tree-group-children {
					display: none;
				}
			}
		}
	}
}

.tree-menu {
	--font-size: 16px;
	--color-active: #007bff;
	--color-black: #111;
	--color-black-hover: #000;
	--item-height: 44px;
	--item-background-color-hover: #ebebeb;
	--item-background-color-active: #f3f6f9;
	--scroll-bar-color-track: white;
	--scroll-bar-color-thumb: rgb(52, 58, 64, 0.1);

	width: 100%;
	color: var(--color-black);
	font-size: var(--font-size);
	font-family: 'Segoe UI';
	flex: 1;
	overflow-y: auto;
	padding: 0 10px;

	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: var(--scroll-bar-color-track);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--scroll-bar-color-thumb);
	}

	@mixin tree-item-style {
		height: var(--item-height);
		display: flex;
		align-items: center;
		cursor: pointer;
		user-select: none;
		position: relative;
		.material-icons {
			margin-right: 12px;
			font-size: 20px;
			opacity: 0.2;
		}
		&:hover {
			color: var(--color-black-hover);
			background-color: var(--item-background-color-hover);
			.material-icons {
				opacity: 1;
			}
		}
		&.active {
			color: var(--color-active);
			background-color: var(--item-background-color-active);
			.material-icons {
				opacity: 1;
			}
		}
	}

	.tree-label {
		height: var(--item-height);
		display: flex;
		align-items: center;
		opacity: 0.7;
		font-size: 0.7rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	.tree-item {
		@include tree-item-style;
	}
	.tree-group {
		& > .tree-group-title {
			@include tree-item-style;
			&::after {
				font-family: 'Material Icons';
				content: '\e313';
				display: inline-block;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				transition: transform 0.2s ease-in;
			}
		}
		& > .tree-group-children {
			max-height: 0;
			overflow: hidden;
			transform-origin: top;
			transform: scaleY(0);
			transition: all 0.2s ease-in;
		}
		&.expand {
			& > .tree-group-title {
				color: var(--color-active);
				.material-icons {
					opacity: 1;
				}
				&::after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
			& > .tree-group-children {
				transform: scaleY(1);
			}
		}
	}
	& > .tree-item {
		padding-left: 12px; // Thụt dòng root
	}
	& > .tree-group {
		& > .tree-group-title {
			padding-left: 12px; // Thụt dòng root
		}
		& > .tree-group-children {
			& > .tree-item {
				padding-left: 40px; // Thụt dòng lv 2
			}
			& > .tree-group {
				& > .tree-group-title {
					padding-left: 40px; // Thụt dòng lv 2
				}
				& > .tree-group-children {
					& > .tree-item {
						padding-left: 60px; // Thụt dòng lv 3
					}
					& > .tree-group {
						& > .tree-group-title {
							padding-left: 60px; // Thụt dòng lv 3
						}
						& > .tree-group-children {
							& > .tree-item {
								padding-left: 80px; // Thụt dòng lv 4
							}
							& > .tree-group {
								& > .tree-group-title {
									padding-left: 80px; // Thụt dòng lv 4
								}
								& > .tree-group-children {
									& > .tree-item {
										padding-left: 100px; // Thụt dòng lv 5
									}
									& > .tree-group {
										& > .tree-group-title {
											padding-left: 100px; // Thụt dòng lv 5
										}
										& > .tree-group-children {
											& > .tree-item {
												padding-left: 120px; // Thụt dòng lv 6
											}
											& > .tree-group {
												& > .tree-group-title {
													padding-left: 120px; // Thụt dòng lv 6
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
