@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  display: flex;
}
#wrapper #main {
  flex: 1;
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sidebar .top-aside {
  display: flex;
  width: 260px;
  height: 56px;
  padding: 10px;
}
.sidebar .top-aside .logo img {
  max-width: 90%;
  filter: invert(0.8);
}
.sidebar .top-aside #toggle-collapse {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar .top-aside.collapse {
  width: 65px;
}
.sidebar .top-aside.collapse .logo {
  display: none;
}
.sidebar .top-aside.collapse #toggle-collapse {
  transform: rotate(180deg);
}
.sidebar .top-aside.collapse #toggle-collapse img {
  fill: red;
}

.tree-menu {
  --width: 260px;
  --width-collapse: 65px;
  --font-size: 16px;
  --color-active: #007bff;
  --color-black: #111;
  --color-black-hover: #000;
  --item-height: 44px;
  --item-background-color-hover: #ebebeb;
  --item-background-color-active: #f3f6f9;
  --scroll-bar-color-track: white;
  --scroll-bar-color-thumb: rgb(52, 58, 64, 0.1);
  width: var(--width);
  color: var(--color-black);
  font-size: var(--font-size);
  font-family: "Segoe UI";
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}
.tree-menu::-webkit-scrollbar {
  width: 5px;
}
.tree-menu::-webkit-scrollbar-track {
  background: var(--scroll-bar-color-track);
}
.tree-menu::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color-thumb);
}
.tree-menu .tree-label {
  height: var(--item-height);
  display: flex;
  align-items: center;
  opacity: 0.7;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}
.tree-menu .tree-item {
  height: var(--item-height);
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.tree-menu .tree-item .material-icons {
  margin-right: 12px;
  font-size: 20px;
  opacity: 0.2;
}
.tree-menu .tree-item:hover {
  color: var(--color-black-hover);
  background-color: var(--item-background-color-hover);
}
.tree-menu .tree-item:hover .material-icons {
  opacity: 1;
}
.tree-menu .tree-item.active {
  color: var(--color-active);
  background-color: var(--item-background-color-active);
}
.tree-menu .tree-item.active .material-icons {
  opacity: 1;
}
.tree-menu .tree-group > .tree-group-title {
  height: var(--item-height);
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.tree-menu .tree-group > .tree-group-title .material-icons {
  margin-right: 12px;
  font-size: 20px;
  opacity: 0.2;
}
.tree-menu .tree-group > .tree-group-title:hover {
  color: var(--color-black-hover);
  background-color: var(--item-background-color-hover);
}
.tree-menu .tree-group > .tree-group-title:hover .material-icons {
  opacity: 1;
}
.tree-menu .tree-group > .tree-group-title.active {
  color: var(--color-active);
  background-color: var(--item-background-color-active);
}
.tree-menu .tree-group > .tree-group-title.active .material-icons {
  opacity: 1;
}
.tree-menu .tree-group > .tree-group-title::after {
  font-family: "Material Icons";
  content: "";
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in;
}
.tree-menu .tree-group > .tree-group-children {
  max-height: 0;
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.2s ease-in;
}
.tree-menu .tree-group.expand > .tree-group-title {
  color: var(--color-active);
}
.tree-menu .tree-group.expand > .tree-group-title .material-icons {
  opacity: 1;
}
.tree-menu .tree-group.expand > .tree-group-title::after {
  transform: translateY(-50%) rotate(180deg);
}
.tree-menu .tree-group.expand > .tree-group-children {
  transform: scaleY(1);
}
.tree-menu > .tree-item {
  padding-left: 12px;
}
.tree-menu > .tree-group > .tree-group-title {
  padding-left: 12px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-item {
  padding-left: 40px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 40px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-item {
  padding-left: 60px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 60px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-item {
  padding-left: 80px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 80px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-item {
  padding-left: 100px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 100px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-item {
  padding-left: 120px;
}
.tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 120px;
}
.tree-menu.collapse:not(:hover) {
  width: var(--width-collapse);
}
.tree-menu.collapse:not(:hover) > .tree-label {
  font-size: 0;
  padding: 10px 10px;
}
.tree-menu.collapse:not(:hover) > .tree-label::after {
  display: block;
  text-indent: 0;
  font-family: "Material Icons";
  content: "";
  font-size: 24px;
  line-height: 1;
}
.tree-menu.collapse:not(:hover) > .tree-group .tree-group-title::after {
  display: none;
}
.tree-menu.collapse:not(:hover) > .tree-group .tree-group-children {
  display: none;
}/*# sourceMappingURL=styles.css.map */